:root {
  /* color */
  --color-main: #00bcd4;
  --color-main-600: #00abc1;
  --color-main-700: #0096a7;
  --color-main-800: #00828f;
  --color-dark-trans-400: #1212125c;
  --color-sub: #4f6f7b;
  --color-dark: #121212;
  --color-light: #fff;
  --color-red: #e92a2a;
  --color-orange: #f3991c;
  --color-green: #03a738;
  --color-blue: #355cd9;
  --color-yellow: #f6c000;
  --color-button-focus: #0051e0;

  /* font-size */
  --font-size-base: 1rem;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* z-index */

  /* spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 36px;
  --spacing-xxl: 40px;
  --spacing-3xl: 44px;
  --spacing-4xl: 48px;
  --spacing-5xl: 56px;
  --spacing-6xl: 64px;
  --spacing-7xl: 104px;

  /* border-radius */
  --border-radius-s: 4px;
  --border-radius: 8px;
}
