:root {
  /* color */
  --color-main: #00bcd4;
  --color-sub: #4f6f7b;
  --color-dark: #121212;
  --color-light: #fff;
  --color-red: #e92a2a;
  --color-orange: #f3991c;
  --color-green: #03a738;
  --color-blue: #355cd9;
  --color-yellow: #f6c000;

  /* font-size */
  --font-size-base: 1rem;

  /* font-weight */
  --font-weight-normal: 300;

  /* z-index */

  /* spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 36px;
  --spacing-xxl: 40px;
  --spacing-3xl: 44px;
  --spacing-4xl: 48px;
  --spacing-5xl: 56px;
  --spacing-6xl: 64px;
  --spacing-7xl: 104px;
}
