.icon {
  &[data-type='main'] {
    path {
      fill: var(--color-main-600);
    }
  }

  &[data-type='sub'] {
    path {
      fill: var(--color-sub);
    }
  }

  &[data-type='dark'] {
    path {
      fill: var(--color-dark);
    }
  }

  &[data-type='light'] {
    path {
      fill: var(--color-light);
    }
  }

  &[data-type='red'] {
    path {
      fill: var(--color-red);
    }
  }

  &[data-type='dark-trans'] {
    path {
      fill: var(--color-dark-trans-400);
    }
  }
}
