.text-area {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > label {
    display: flex;
    gap: 8px;
    align-items: center;

    > .required {
      padding: 4px;
      color: var(--color-light);
      background-color: var(--color-red);
      border-radius: 4px;
    }
  }

  > textarea {
    padding: 12px 16px;
    border-color: #898989;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    outline: none;

    &:focus,
    &:focus-visible {
      border-color: var(--color-main);
    }

    &[aria-invalid='true'] {
      color: var(--color-red);
      border-color: var(--color-red);
    }

    &:disabled {
      background-color: #e2e2e2;
      border-color: #ababab;
    }
  }

  > .error-text {
    color: var(--color-red);
  }
}
