.radio {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;

  &:has(input:focus, input:focus-visible) {
    outline: auto;
  }

  > input {
    all: unset;
    position: absolute;
    width: 1px;

    &:disabled + .label {
      color: #8a8a8a;
    }
  }
}
